<section class="tchr-header">
  <div class="flex flex-column class-info">
    <div class="flex flex-row flex-space-between action-buttons">
       <button md-icon-button (click)="onHandleBack()"><md-icon>keyboard_backspace</md-icon></button>
       <p>Logout</p>
    </div>
    <h2 class="class-title">Class</h2>
  </div>
  <div class="flex flex-row flex-space-between flex-center-items attndc-info">
   <div class="flex flex-center-items attndcStatus">
     <h5>12</h5>
     <h6>Present</h6>
   </div>
   <div class="flex flex-center-items attndcStatus">
     <h5>4</h5>
     <h6>Absent</h6>
   </div>
   <div class="flex flex-center-items attndcStatus">
     <h5>16</h5>
     <h6>Total</h6>
   </div>

  </div>
</section>
<section class="students-list">
  <md-grid-list cols="3" rowHeight="2:2" >
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>



    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>

    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>
    <md-grid-tile class="student">
      <div>
        <img src="../../assets/teacher-img.png" class="std-img"/>
        <p class="std-name">Student</p>
      </div>
    </md-grid-tile>


  </md-grid-list>
  <button md-fab class="attndSave"><md-icon>save</md-icon></button>
</section>
