<section class="tchr-profile-header">
  <div class="flex flex-row flex-space-between action-buttons">
      <button md-icon-button (click)="onHandleBack()"><md-icon>keyboard_backspace</md-icon></button>
      <p>Logout</p>
  </div>
</section>
<md-card class="tchr-profile">
  <div class="flex flex-center-items">
    <img src="../../../../assets/wahab.jpg" class="tchr-profile-picture"/>
  </div>
  <div class="tchr-title">
    <h2>Abdul Wahab</h2>
  </div>
  <div class="tchr-details">
    <div class="tchr-info">
      <p><strong>Email :</strong> abdulwahab@gmail.com</p>
      <p><strong>Contact # :</strong> +92 123 1234567</p>
      <p><strong>CNIC :</strong> 12345-1234567-1</p>
      <p><strong>Address :</strong> Lahore,Pakistan</p> 
    </div>
  </div>
</md-card>
