<section class="tchr-header">
  <div>
    <img src="../../assets/teacher-img.png" class="list-img"/>
    <h5 class="tchr-title">Shoaib</h5>
  </div>

</section>
<section>
  <md-grid-list cols="2" rowHeight="150px" class="menu-grid">
   
      <md-grid-tile>
        <div class="flex flex-column flex-center-items flex-space-between  grid-item">
          <a routerLink="/dashboard/teacher/class" >
            <img src="../../../assets/attendance.jpg" class="tchr-grid-img"/>
            <h6>Mark Attendance</h6>
          </a>
        </div>
      </md-grid-tile>
    
    
      <md-grid-tile>
        <div class="flex flex-column flex-center-items flex-space-between  grid-item">
          <a routerLink="/dashboard/teacher/class-details" >
            <img src="../../../assets/pencil-icon.png" class="tchr-grid-img"/>
            <h6>Class Details</h6>
          </a>
        </div>
      </md-grid-tile>
    
    
      <md-grid-tile>
        <div class="flex flex-column flex-center-items flex-space-between  grid-item">
          <a routerLink="/dashboard/teacher/profile" >
            <img src="../../../assets/profile.jpg" class="tchr-grid-img"/>
            <h6>Profile</h6>
           </a>
        </div>
      </md-grid-tile>
   
    
      <md-grid-tile>
        <div class="flex flex-column flex-center-items flex-space-between  grid-item">
          <a routerLink="/dashboard/teacher/report" >
            <img src="../../../assets/report.jpg" class="tchr-grid-img"/>
            <h6>Report</h6>
           </a>
        </div>
      </md-grid-tile>
   
  </md-grid-list>
</section>
