.class-detail-header{
    height: 180px;
    background-color: #673ab7;
    width: 100%;
}

.action-buttons{
    color: #fff;
    padding: 16px;
}


.class-title{
    padding: 25px 15px 15px 15px;;
}

.std-list{
    margin: 16px;
}

.std-img{
    height: 70px;
    width: 70px;
}