<section class="class-detail-header">
  <div class="flex flex-column class-info">
    <div class="flex flex-row flex-space-between action-buttons">
       <button md-icon-button (click)="onHandleBack()"><md-icon>keyboard_backspace</md-icon></button>
       <p>Logout</p>
    </div>
    <h2 class="class-title">Class</h2>
  </div>
</section>
<article>
  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>

  <md-card class="std-list">
    <div class="flex flex-row flex-space-between flex-center-items">
      <div>
        <img src="../../../../assets/wahab.jpg" class="std-img"/>
      </div>
      <div>
        <h5>Abdul Wahab</h5>
        
      </div>
      <div class="">
        <h3>89%</h3>
      </div>
    </div>
  </md-card>
</article>
